.club-profile-picture img{
    width: 200px;
    height: 200px;
    margin: 5px;
}

.club-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.club-heading {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.club-members {
    margin: 5px;
}

.club-column {
    background-color: rgb(214, 207, 192);
    min-height: 100vh;
}

.club-text {
    margin: 45px;
}

.club-bg {
    background-color: rgb(240, 233, 225);
    padding-left: 60px;
    padding-top: 50px;
}

.club-container {
    background-color: rgba(244, 228, 210, 0.697);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.club-name {
    margin-top: 20px;
}

.club-nav {
    margin: 20px;
    font-size: 18px;
    list-style-type: none;
}

.club-nav a{
    text-decoration: none;
    color: black;
}

.club-nav li {
    margin-left: 40px;
    margin-bottom: 5px; 
}

.active {
    font-weight: bold;
}

.club-about img{
    height: 300px;
}

.book-cover {
    width: 100px;
    height: 150px;
}

.book-cover img{
    width: 100px;
    height: 150px;
}

.member {
    margin: 5px;
}

.member a{
    text-decoration: none;
    color: black;
}

.member img{
    width: 110px;
    height: 100px;
    margin-bottom: 10px;;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.book-details {
    flex: 1;
    margin-left: 20px;
}

.book img {
    width: 130px;
    height: 200px;
}

.book a {
    text-decoration: none;
    color: black;
}

.book-title {
    margin-top: 10px;
    margin-bottom: 0px;
}

.book-author {
    color:rgb(78, 77, 77);
    margin-top: 0px;
}

.books-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
}

.book-btn button{
    color: whitesmoke;
    background-color: rgb(126, 135, 96);
    border: none;
}

.book-wishlist {
    background-color: rgba(244, 228, 210, 0.697);
    border: none;
}

.vertical-divider {
    border-left: 2px; 
    height: 100%;
}

.text-right {
    text-align: right;
}