# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm


# Optional npm error logs
npm-debug.log*
frontend/package-lock.json
