.bookclub-section-title {
    size: 15px;
}

.profile-avatar img{
    width: 170px;
    height: 150px;
}

.bookclub-pfp img{
    width: 120px;
    height: 120px;
}

.book-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.book {
    margin: 5px;
}

.book-cover img{
    width: 100px;
    height: 150px;
}
