.bookclub-section-title {
    size: 15px;
}

.profile-avatar img{
    width: 170px;
    height: 150px;
}

.bookclub-pfp img{
    width: 120px;
    height: 120px;
}

.book-cover img{
    width: 100px;
    height: 150px;
}